/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    #awards {grid-template-columns: repeat(1, 1fr);}
    #contact-n {grid-template-columns: repeat(1, 1fr);}
    .social, .ft1 {justify-content: center;}
    .social {margin-top: 10px;}
    #sponsors {grid-template-columns: repeat(3, 1fr);}
    #sponsors {justify-content: center !important;}
    #copy {text-align: center;}
    #copy {display: block !important;}
  }
  
  /* Medium devices (portrait tablets and large phones, 577px to 1199px) */
  @media only screen and (min-width: 577px) {
    #awards {grid-template-columns: repeat(3, 1fr);}
    #contact-n {grid-template-columns: repeat(1, 1fr);}
    .social, .ft1 {justify-content: center;}
    #sponsors {grid-template-columns: repeat(3, 1fr);}
    #sponsors {justify-content: center !important;}
  }
  
  /* larger devices (landscape tablets, laptops/desktops 1200 and up) */
  @media only screen and (min-width: 1200px) {
    #awards {grid-template-columns: repeat(3, 1fr);}
    #contact-n {grid-template-columns: repeat(6, 1fr); padding-left:10em;}
    #sponsors {grid-template-columns: repeat(6, 1fr);}
  } 

@font-face {
    font-family: 'Bodoni Moda 72pt ExtraBold';
    src: url('fonts/BodoniModa72pt-ExtraBold.eot');
    src: url('fonts/BodoniModa72pt-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/BodoniModa72pt-ExtraBold.woff2') format('woff2'),
         url('fonts/BodoniModa72pt-ExtraBold.woff') format('woff'),
         url('fonts/BodoniModa72pt-ExtraBold.ttf')  format('truetype'),
         url('fonts/BodoniModa72pt-ExtraBold.svg#Bodoni Moda 72pt ExtraBold') format('svg');
}
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-Regular.eot');
    src: url('fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular.woff2') format('woff2'),
         url('fonts/OpenSans-Regular.woff') format('woff'),
         url('fonts/OpenSans-Regular.ttf')  format('truetype'),
         url('fonts/OpenSans-Regular.svg#Open Sans') format('svg');
}

/* ------------------------------------------- NAVIGATION ------------------------------------------------*/
.logo {
    width: 200px;
    height: 70px;
    margin-left: -10px;
    padding-top: 0%;
    padding-bottom: 0%;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
}

.navbar-nav li:hover > a{
    background: #ffff;
	color:#444444 !important;
    transition: background-color 0.3s ease-in;
}

.navbar-toggler[aria-expanded="true"] {
    background-color: orange;
}

.dropdown-menu {
    width:1000px;
    height: 400px;
    margin-left: -550px;
}
.btn {
    border-radius: 25px;
}
.dropdown_3columns {
    width: 1200px;
	float:left;
	position:absolute;
}
.col_1,
.col_3 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 30px;
	margin-right: 5px;
}

.col_1 {
    width:300px;
    margin-left:10px;
    margin-top:30px;
}

.col_1 h7 {
    font-weight:bold;
}

.col_1 li{
    color:#03B1F4;
    font-weight: 700;
    font-size:small;
    padding-bottom: 0.3em;
}

@media (max-width:576px) {
    .dropdown-menu{
      width: auto;
      margin-left:0px;
    }
    .btn{
        min-width: 350px;
    }
    .col {
       flex-grow:unset;
    }
  }

  @media (min-width:577px) and (max-width:991px) {
    .dropdown-menu{
        width: auto;
        margin-left:0px;
      }
      .btn{
          min-width: 550px;
      }
      .col {
        flex-grow:unset;
     }
    }
  

  @media (min-width: 992px) and (max-width: 1199px) {
    .dropdown-menu{
        margin-left:-550px;
    }
    .btn{
        min-width: 160px;
    }
  }

  @media (min-width: 1200px) {
    .btn{
        min-width: 160px;
    }
  }

/*------------------------------------------------- ABOUT PAGE ---------------------------------------------*/
#about header {
    background: url(images/about-us-hero.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(203, 247, 220);
    height: 400px;
    width: 100%;
    font-family: 'Open Sans';
    text-align: center;
}

#about .showcase h1 {
    font-size: 50px;
}
#about #motto {
    top: 150px;
    position: relative;
}
#about .heading {
    font-family: 'Bodoni Moda 72pt ExtraBold';
    font-weight: bold;
    color: white;
}

#ab1 h1 {
    font-family: 'Bodoni Moda 72pt ExtraBold';
    color:rgb(76, 75, 75);
    font-weight: bold;
    font-size: 4vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    
}
#ab2 h1 {
    font-family: 'Bodoni Moda 72pt ExtraBold';
    color:rgb(76, 75, 75);
    font-weight: bolder;
    font-size: 4vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ab1, #ab2 p {
    text-align: center;
    font-family: 'Open Sans';
    color: rgb(103, 103, 103);
}
#ab1 {
    background: url(images/about-our-philosophy-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    margin: auto;
    text-align: center;
}
.txt {
    text-align: center;
    margin: auto;
    padding-top: 3em;
    
}
.mission {
    display: flex;
    justify-content: center;
}
#ab2 {
    background: url(images/about-we-do-a-pretty-good-job-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 300px;
    width: 100%;
}
#ab2 a {
    text-decoration: underline;
    font-family: 'Open Sans';
    color:rgb(43, 207, 248);
}
/* ---------------------------------------- Awards -------------------------------------------------------- */
section {
    text-align: center;
    width: 60%;
    margin: auto;
    height: auto;
    padding-top: 2em;
    font-family: 'Bodoni Moda 72pt ExtraBold';
    color:rgb(76, 75, 75);
    font-size: 3vw;
    font-weight: bold;
}
section #awards {
    text-align: center;
    margin:auto;
    display:flex;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
} 
section #awards img {
    background-color: #fff;
    max-width: 100%;
    height: auto;
}
section #photo {
    list-style-type: none;

}
/*---------------------------------------- FOOTER ---------------------------------------------------------*/
footer {
    background: url(images/footer-bg.jpeg);
    background-size: 1500px;
    height: 100%;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_img {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer_link {
    display: inline-block;
}
#contact-b {
    border-top: 1px rgb(199, 197, 197) solid ;
    border-bottom: 1px rgb(199, 197, 197) solid;
    text-align: center;
    margin: auto;
    width: 80%;
    margin-bottom: 2em;

}
#contact-n{
    text-align: center;
    display: grid;
    margin-top: 1em;  
}
#contact-n ul {
    list-style-type: none;
    padding: 1em;
    display: inline-block;
}
#contact-n ul li {
    font-weight: bold;
    color: rgb(88, 83, 83);
}
#contact-n ul a {
    color: rgb(103, 103, 103);
    text-decoration: underline;
    font-weight: lighter;
}

.ft {
    padding-left: 20px;
    text-decoration: underline;
    color: dimgray;
    font-weight: bold;
    font-size: small;
}
footer  .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
    padding-right: 28px;
}
footer .social .fa:hover {
    opacity: 0.7;
}
footer .social .fa-linkedin {
    background: #007bb5;
    color: white;
  }
footer .social .fa-instagram {
    background: #125688;
    color: white;
}
footer .social .fa-twitter {
    background: #55acee;
    color: white;
}
.fa-yelp {
    background: #cb2027;
    color: white;
  }
footer .social .fa-facebook {
    background: #3b5998;
    color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
footer .social{
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    padding-bottom: 30px;
    
}
footer .ft1{
    display: flex;
    justify-content: flex-start;
    padding-left: 70px;
    padding-bottom: 50px;
    color: rgb(74, 71, 71) !important;
}
/* ---------------------------------------------- Sponsor ------------------------------------------------------ */

#sponsors {
    display:grid;
    text-align: center;
    height:auto;
}
#copy {
    font-family: 'Open Sans';
    color: rgb(103, 103, 103);
}
#sponsors li:nth-child(4) {
    background-color: #125688;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.test1 { 
    display: grid;
}