#home .logo {
    width: 200px;
    height: 70px;
    margin-left: -10px;
    padding-top: 0%;
    padding-bottom: 0%;
}

#home .navbar-dark .navbar-nav .nav-link {
    /* color: white; */
    font-weight: bold;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
}

#home .navbar-nav li:hover>a {
    background: #ffff;
    color: #444444 !important;
    transition: background-color 0.3s ease-in;
}

.navbar-toggler[aria-expanded="true"] {
    background-color: orange;
}

.dropdown-menu {
    width: 1000px;
    height: 400px;
    margin-left: -550px;
}

.btn {
    border-radius: 25px;
}

.dropdown_3columns {
    width: 1200px;
    float: left;
    position: absolute;
}


.col_1,
.col_3 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 30px;
    margin-right: 5px;
}

.col_1 {
    width: 300px;
    margin-left: 10px;
    margin-top: 30px;
}

.col_1 h7 {
    font-weight: bold;
}

.col_1 li {
    color: #03B1F4;
    font-weight: 700;
    font-size: small;
    padding-bottom: 0.3em;
}




#home .showcase {
    text-align: center;
    color: #ffffff;
    background-image: url("images/contact-hero.jpeg");
    background-size: cover;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
}

#home .showcase h1 {
    font-size: 40px;
}

#home #motto {
    /* left: 20px; */
    top: 220px;
    position: relative;
    font-family: 'Bodoni Moda';
    text-shadow: 1px 1px 8px black;
}

.card-img-top {
    border: 0.01em solid rgb(255, 255, 255);
    border-radius: 5%;
}

#home footer {
    background-image: url(images/footer-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home .border-top {
    width: 90%;
}

#home footer a {
    margin-left: 1em;
    color: black;
    font-size: 15px;
    text-decoration: underline;
}

#home footer i {
    margin-right: 0.5em;
    font-size: 20px;
    color: white;
}

footer .fa {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

}

footer .fa:hover {
    opacity: 0.2;
}

footer .fa-linkedin {
    background-color: #3b5998;
    color: white;
}

footer .fa-instagram {
    background-color: #515151;
    color: white;
}

footer .fa-twitter {
    background-color: #55ACee;
    color: white;
}

footer .fa-yelp {
    background-color: red;
    color: white;
}

footer .fa-facebook {
    background-color: #3b5998;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

footer .fa-youtube {
    background-color: red;
    color: white;
}

section #partners .partner {
    display: inline-block;
    margin: 1em;
    padding: 2em;
    background-color: #fff;
    border-radius: 50%;
}

section #partners {
    /* width: 1200px; */
    /* padding: 2em 0 2em 0; */
    padding: 2em;
    margin: 0em;
    text-align: center;
}

.container {}

@media only screen and (max-width:576px) {
    .dropdown-menu {
        width: auto;
        margin-left: 0px;
    }

    .btn {
        min-width: 350px;
    }

    .col {
        flex-grow: unset;
    }

    #footerNav {
        text-align: center;
    }

    #footerSocial {
        justify-content: center !important;
        margin-top: 4em;
    }

    #copy {
        text-align: center;
    }

    #copy {
        display: block !important;
    }

    #sponsors {
        justify-content: center !important;
    }
}


@media (min-width:577px) and (max-width:991px) {
    .dropdown-menu {
        width: auto;
        margin-left: 0px;
    }

    .btn {
        min-width: 550px;
    }

    .col {
        flex-grow: unset;
    }

    #footerNav {
        text-align: center;
    }

    #footerSocial {
        justify-content: center !important;
        margin-top: 4em;
    }

}


@media (min-width: 992px) and (max-width: 1199px) {
    .dropdown-menu {
        margin-left: -550px;
    }

    .btn {
        min-width: 160px;
    }

    #footerNav {
        text-align: center;
    }

    #footerSocial {
        justify-content: center !important;
        margin-top: 4em;
    }

}

@media (min-width: 1200px) {
    .btn {
        min-width: 160px;
    }
}

/* modal */

.modal-backdrop {
    background-color: white;
    opacity: 0.9 !important;
}

#signModal {
    top: 25%;
    /* left: 20%; */
    box-shadow: 5px 5px 12px rgb(157, 157, 157);
}

#shark {
    margin-left: -114px;
}

#wave {
    width: min-content;
    margin-top: -80px;
    margin-left: 35%
}

#mtitle {
    margin-top: 5%;
    margin-left: -10%;
    font-size: 30px;
    color: #515151;
}

#memail {
    margin-top: -15%;
}

#mbutton1 {
    border: 0ch;
    color: #FFFFFF;
    background-color: #03B1F4;
    border-radius: 25px;
    padding: 10px;
    width: 300%;
}

#mbutton2 {
    border: 10px;
    color: #03B1F4;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 10px;
    width: 300%;
}

@media only screen and (max-width:767px) {
    #wave {

        width: min-content;
        margin-top: -100px;
        margin-left: 25%
    }

    .modal-lg,
    .modal-xl {
        max-width: 400px;
    }

    /* .btn {
        min-width: 300px;
    }

    #mbutton2 {
        margin-left: 10%;
    } */
}

@media (min-width: 768px) and (max-width: 1199px) {

    .modal-lg,
    .modal-xl {
        max-width: 700px;
    }
}

@media (min-width: 1200px) {

    .modal-lg,
    .modal-xl {
        max-width: 700px;
    }
}