#home header {
    width: 100%;
    min-height: 110px;
    background-color: #444444;
    background-image: no-repeat url(images/home.jpeg);
}

#home .showcase {
    text-align: center;
    color: #ffffff;
    height: 850px;
    background-image: url(images/home.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home .navbar-dark .navbar-nav .nav-link {
    color: white;
}

#home .logo {
    width: 200px;
}

#home .showcase h1 {
    font-size: 60px;
}

#home #motto {
    left: 20px;
    top: 300px;
    position: relative;
}

#home #regSignBtn {
    border: 0ch;
    color: #03B1F4;
    border-radius: 25px;
    padding: 10px;
    width: 180px;
    background-color: #FFFFFF;
}

#home #regBtn {
    width: 1000px;
    border: 0em;
    height: 150px;
    background-image: url(images/register-online-here-banner.png);
}

#home .container1 {
    height: 200px;
    position: relative;
    /* border: solid 1px #03B1F4; */
}

#home .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#home .container2 {
    bottom: 1em;
    height: 280px;
    position: relative;
    /* border: solid 1px #03B1F4; */
}

#home #banner {
    width: 1000px;
    border: 0em;
    height: 250px;
    background-image: url(images/ww-site-hiring-banner-resized.png);
}

#home .showcase2 {
    top: 1em;
    margin: 0;
    text-align: left;
    height: 850px;
    background-image: url(images/home-hands-on-teaching.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home .hands {
    margin-top: 10%;
    /* margin-left: 5%; */
}

#home .hands h2,
h4,
p,
li,
button {
    margin-left: 15%;
}

#home #regBtn2 {
    align-self: center;
    margin: 0;
    position: relative;
    top: 5%;
    left: 25%;
    border: 0ch;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 10px;
    width: 180px;
    background-color: #03B1F4;
}

#home .showcase3 {
    margin: 0;
    text-align: left;
    height: 850px;
    width: 100%;
    background-image: url(images/home-our-locations-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#home .locText {
    text-align: center;
    color: #ffffff;
    margin-top: 10%;
}

#home .locText h1,
h3,
p,
button {
    margin-left: 15%;
}

#home .pins {
    content: url(images/home-our-locations-map.png);
    height: 850px;
    background-color: rgba(0, 0, 0, 0.0);
}